.header{
  position: absolute;
  margin: 37px 0px 0px 113px;

}


.dark-mode {
  background-color: black;
  color: white;
  background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 0, 0.5)),url(bc.jpg);
  overflow: auto;
}

body {
  font-family: "Lato", sans-serif;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 15px;
}
#title{
  position: absolute;
  margin: 0px 0px 0px 0px;
}
/*====*/
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: red;
  padding: 10px;
  font-size: 20px;
  border: none;
}
.dropbtn a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown {
  position: absolute;
  float: right;
  margin: -43px 0px 0px 1156px;

}
.dropdown button {
  background-color: black; 
  color: red;
}

.dropdown-content {
  display: none;
  text-align: right;
  position: absolute;
  right: 0; /* para ma fix ang dropdown */
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Links in dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c2c2c2; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; background-color: black;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #000;}



@media screen and (max-height: auto) {
  .dropdown-content {padding-top: 15px;}
  .dropdown-content a {font-size: 18px;}
}
/*=====*/
#p_1{
  position: absolute;
  margin: 37px 0px 0px 0px;
}
.last_{
  position: absolute;
   margin: -207px 0px 0px 761px;

}